
body {
    font-family: monospace;
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typing-container {
    max-width: 800px;
    background: #222;
    border: 2px solid white;
    padding: 20px;
    border-radius: 8px;
    color: white;
    overflow-y: auto;
    height: 400px;
    white-space: pre-wrap; /* Preserve spaces and line breaks */
    word-wrap: break-word;
}

.word {
    display: inline-block;
    white-space: nowrap;;
}

.letter {
    display: inline-block;
    color: #aaa; /* Default color */
}

.letter.correct {
    color: green;
}

.letter.incorrect {
    color: red;
}

.input-area {
    margin-top: 20px;
    background: #444;
    border: 2px solid #aaa;
    color: white;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    height: 50px;
    outline: none;
    border-radius: 8px;
}

.input-area:focus {
    border-color: #007BFF;
}

.wpm-display {
    margin-top: 20px;
    font-size: 24px;
    color: #d5d823;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
